.client__container {
    //padding-bottom: 94px;
    //padding-top: 94px;

    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $color-ffffff;
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
}

.client__list {
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: space-evenly;


   
    //&:not(:last-child) {
       // margin-right: 30px;
    //
    
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
      
    margin-top: -30px;
    margin-left: -30px;

    
    
    
    }


    

.client__title {
     font-size: 28px;
    //font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    color: $color-212121;
    margin-top: 0px;
}

.client__link {
   display: flex;
    justify-content: center;
   
    align-items: center;
    width: 210px;
    height: 92px;

    
    

    //width: 170px;
    //height: 90px;
    color: $color-afb1b8;
    border: 1px solid $color-afb1b8;
    border-radius: 4px;
    transition: color $transition-duration
                    $transition-timing-function,
            border-color $transition-duration
                    $transition-timing-function;

                    &:hover, &:focus {
    color: $color-2196f3;
    border-color: $color-2196f3;
}

@media screen and (min-width: 768px){
    width: 226px;
    height: 92px;
   
    }

    @media screen and (min-width: 1200px){
        width: 170px;
        height: 92px;
       
        }


}

.client__logo {
    fill: currentColor;
}

.client__item{
    margin-top: 30px;
    margin-left: 30px;

    flex-basis: calc((100% - 2 * 30px) / 2);

    @media screen and (min-width: 768px){
        flex-basis: calc((100% - 3 * 30px) / 3);
    
}

@media screen and (min-width: 1200px){
    flex-basis: calc((100% - 6 * 30px) / 6);

}

    
}