.client__container {
    padding-bottom: 94px;
    padding-top: 94px;
    background-color: $color-ffffff;
}

.client__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &:not(:last-child) {
        margin-right: 30px;
    }
}



.client__title {
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    color: $color-212121;
    margin-top: 0px;
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    color: $color-afb1b8;
    border: 1px solid $color-afb1b8;
    border-radius: 4px;
    transition: color $transition-duration
                    $transition-timing-function,
            border-color $transition-duration
                    $transition-timing-function;

                    &:hover, &:focus {
    color: $color-2196f3;
    border-color: $color-2196f3;
}
}

.client__logo {
    fill: currentColor;
}
