/*modal-window*/
.hero__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-background;
    opacity: 1;
    transition: opacity $transition-duration
                    $transition-timing-function,
            visibility $transition-duration
                    $transition-timing-function;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.hero__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    transform: translate(-50%, -50%);
    //width: 528px;
    width: 450px;
    height: 560px;
    border-radius: 4px;
    transition: transform $transition-duration
            $transition-timing-function;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: $color-ffffff;
    z-index: 99;


    @media screen and (max-width: 480px) {
        width: calc(100% - 30px);
      }
      @media screen and (min-width: 480px) and (max-width: 768px) {
        width: 450px;
        height: 609px;
      }
    
      @media screen and (min-width: 769px)  {
        width: 528px;
        height: 581px;
        padding-bottom: 40px;
      }
}




    .hero__modal-close {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $color-ffffff;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}


.hero__modal-close {
    transition: fill $transition-duration
                $transition-timing-function;

            &:active,&:focus {
            outline: none;
}
         &:hover .hero__modal-close-icon {
         fill: $color-2196f3;
        }

         &:focus .hero__modal-close-icon {
            fill: $color-2196f3;
        }
}










