$color-ffffff: #ffffff;
$color-2196f3: #2196f3;
$color-212121: #212121;
$color-757575: #757575;
$color-2f303a: #2f303a;
$color-e5e5e5: #e5e5e5;
$color-f5f4fa: #f5f4fa;
$color-afb1b8: #afb1b8;
$color-188CE8: #188ce8;
$color-rgba25525525501: rgba(255, 255, 255, 0.1);
$color-rgba-255-255-255-06: rgba(255, 255, 255, 0.6);
$color-rgba-255-255-255-03: rgba(255, 255, 255, 0.3);
$color-rgba-0-0-0-015: rgba(0, 0, 0, 0.15);
$transition-duration: 0.25s;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$backdrop-background: rgba(0, 0, 0, 0.5);
$font-family: Roboto, sans-serif;
$fontfamilylogо: Raleway, sans-serif;